/* Deosite CSS 
(C) Copyright 2017: Maiken Mikkelsen */

body {
    font-family: sans-serif;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#sec1 {
    background-color: #FFF;
    font-family: Ubuntu Medium;
    color: rgb(70, 154, 125);
    padding: 1em;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px #888888;
}

#header {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
    height: 4em;
    z-index: 1;
}

#headercontent {
    font-family: Ubuntu Medium;
    color: rgb(70, 154, 125);
    background-color: #FFF;
}

#nav1 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: -1;
}

#nav1content {
    font-family: Timeless;
    font-variant: bold;
    padding: 0;
    color: #FFF;
    background-color: rgb(70, 154, 125);
    box-shadow: 0px 10px 10px 0px #888888;
    z-index: 1;
}

.ul1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    width: 5em;
    background-color: rgb(70, 154, 125);
    color: #FFF;
    padding: 0.6em;
    text-decoration: none;
    text-shadow: 0px 0px #FFF;
}

li a:hover {
    background-color: #555;
    color: whitesmoke;
}

li a.active {
    background-color: black;
    color: whitesmoke;
}

li a:hover:not(.active) {
    background-color: #555;
    color: whitesmoke;
    
}

#grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35fr 35fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "f1 f1 f1"
        "f2 f2 f2"
        "f3 f3 f3"
        "f4 f4 f4"
        "f5 f5 f5"
        "f6 f6 f6"
        "f7 f7 f7"
        "f8 f8 f8"
        "f9 f9 f9"
}

#f1 {
    grid-area: f1;
    background-color: rgb(233, 242, 236);
}

#f2 {
    grid-area: f2;
}

#f3 {
    grid-area: f3;
}

#f4 {
    grid-area: f4;
}

#f5 {
    grid-area: f5;
}

#f6 {
    grid-area: f6;
}

#f7 {
    grid-area: f7;
}

#f8 {
    grid-area: f8;
}

#f9 {
    grid-area: f9;
}