/* Deosite CSS 
(C) Copyright 2017: Maiken Mikkelsen */

body {
    font-family: sans-serif;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image {
    /*Kan også anvende # på indivduelle logoer til samme funktion*/
    display: none;
    background-repeat: no-repeat;
}

/*Her begynder breakpoints for logoet*/

/*Breakpoint for Mobil*/

@media only screen and (min-width: 0px) {
    #logomobil,
    #header {
        background-image: url(billeder/logo_mobil.png);
        background-position: center;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        z-index: 5;
        width: auto;
        background-repeat: no-repeat;
        display: block;
        height: 4em;
        padding-bottom: 0.4em;
    }
    #logo,
    #logotablet {
        display: none;
    }
}

/*Breakpoint for Tablet Logo*/

@media only screen and (min-width: 480px) {
    #logotablet,
    #header {
        background-image: url(billeder/logo_tablet.png) no repeat;
        background-position: center;
        background-size: 100%;
        margin-left: 0px;
        align-content: center;
        background-color: #FFF;
        z-index: 5;
        width: auto;
        background-repeat: no-repeat;
        display: block;
        height: 7em;
        padding-bottom: 1em;
        padding-left: 0.4em;
        margin-top: 0.4em;
    }
    #logo,
    #logomobil {
        display: none;
    }
}

/*Breakpoint for Desktop*/

@media only screen and (min-width: 1024px) {
    #logo,
    #header {
        background-image: url(billeder/logo.png) no repeat;
        background-position: center;
        background-color: #FFF;
        z-index: 5;
        width: auto;
        background-repeat: no-repeat;
        display: block;
        height: 7em;
        padding-bottom: 1em;
    }
    #logomobil,
    #logotablet {
        display: none;
    }
}

#navwrap {
    .display: none;
}

/*Her begynder breakpoints for navigationsmenuen*/

/*Breakpoint for mobil*/

@media only screen and (min-width: 0px) {
    #burgermenu {
        background-image: url(billeder/burgermenu.png);
        background-color: rgb(70, 154, 125);
        background-position: left;
        width: auto;
        background-repeat: no-repeat;
        display: block;
        padding: 0.5em;
        margin-left: 0.5em;


    }
    #forside,
    #produkter,
    #hygge,
    navcontainer {
        display: none;

    }
}

/*Breakpoint for Tablet*/

@media only screen and (min-width: 480px) {
    #forside,
    #produkter,
    #hygge,
    #navcontainer {
        width: auto;
        display: block;


    }
    #burgermenu {
        display: none;

    }
}

/*Breakpoint for Desktop*/

@media only screen and (min-width: 1024px) {
    #forside,
    #produkter,
    #hygge,
    #navcontainer {
        width: auto;
        display: block;



    }
    #burgermenu {
        display: none;

    }
}

/*Her slutter Breakpoints for forskellige skærmstørrelser.*/

#scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
    overflow-x: hidden;
    z-index: 3;
}

/*Her starter Header*/

#sec1 {
    background-color: #FFF;
    font-family: Ubuntu Medium;
    color: rgb(70, 154, 125);
    padding: 1em;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px #888888;
}

#header {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 2;
    /*height: 4em;
    padding: 1em;
    padding-bottom: 3em;*/
}

/*Her starter navigationsbaren*/

#nav1 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
}

#nav1content {
    font-family: Timeless;
    font-variant: bold;
    padding: 0;
    color: #FFF;
    background-color: rgb(70, 154, 125);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.ul1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    width: 5em;
    background-color: rgb(70, 154, 125);
    color: #FFF;
    padding: 0.6em;
    text-decoration: none;
    text-shadow: 0px 0px #FFF;
}

li a:hover {
    background-color: #555;
    color: whitesmoke;
}

li a.active {
    background-color: black;
    color: whitesmoke;
}

li a:hover:not(.active) {
    background-color: #555;
    color: whitesmoke;
    transition: 2s;
}

/*Her slutter navigationsbaren og Grid starter*/

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35fr 35fr 35fr 35fr 15fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "f1 f1 f1" "f2 f2 f2" "f3 f3 f3" "f4 f4 f4" "f5 f5 f5" "f6 f6 f6" "f7 f7 f7" "f8 f8 f8" "f9 f9 f9"
}

#f1 {
    grid-area: f1;
    background-image: url(billeder/armhule2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(233, 242, 236);
    z-index: -2;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);

}

/*Her starter "Blå Himmel" feltet.*/

#f2 {
    grid-area: f2;
    background: rgba(255, 255, 255, 0.5);
    background-image: url(billeder/blaahimmel.jpg);
    font-family: Ubuntu;
    z-index: -3;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    background-blend-mode: lighten;
}

#tekst {
    /*Tekst elementet på siden*/
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-width: 1em;
    column-gap: 2em;
    padding: 1em;
    padding-bottom: 5em;
    margin-top: -1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 57.2em;
    background: #FFF;
    position: relative;
    z-index: 2;
    display: block;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

h2 {
    /*"Astma Allergi Danmark og Svanemærket*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    position: relative;
    text-align: center;
    max-width: 37.5em;
    background-color: #FFF;
    padding: 1em;
    display: block;
    z-index: -1;
}

/*#blaa_container {
    background-image:url(billeder/Svane.png);
    background-position: right, top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;*/

}

#astma,
#svanemaerke {
    display: none;
}

/*#svane_astma_logo {
    background-image: url(billeder/AstmaAllergiDK.png), url(billeder/svane.png);
    background-repeat: no-repeat;
    /*background-position: bottom left, bottom right;
    position: relative;
    z-index: 1;
    display: block;*/

}

/*Her starter responsive størrelser for billede elementer på F2*/

@media only screen and (min-width: 0px) {
    #svane_astma_logo {
        display: none;



    }
}


@media only screen and (min-width: 480px) {
    #svane_astma_logo {
        background-image: url(billeder/AstmaAllergiDK.png), url(billeder/svane.png);
        background-repeat: no-repeat;
        background-position: bottom left, bottom right;
        margin-top: 1em;
        background-size: 20%, 22.5%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        display: block;




    }
    #astma,
    #svanemaerke {
        display: block;
        height: auto;
        margin: 0;
        padding: 0;

    }
}

@media only screen and (min-width: 1024px) {
    #id {}
    #id {}
}

#f3 {
    grid-area: f3;
    background-position: center, top;
    background-repeat: no-repeat;
    opacity: 0.4;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

#f4 {
    grid-area: f4;
    background-color: rgb(233, 242, 236);
}

#f5 {
    grid-area: f5;
    background-color: rgb(70, 154, 125);
}

#f6 {
    grid-area: f6;
}

#f7 {
    grid-area: f7;
}

#f8 {
    grid-area: f8;
}

#f9 {
    grid-area: f9;
}

/*Her starter billede materiale CSS*/

#deobillede,
#deobillede_mobil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

/*Her starter responsiv F1 billede*/

@media only screen and (min-width: 0px) {
    #deobillede_mobil,
    #deo_info {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;



    }
    #deobillede {
        display: none;

    }
}


@media only screen and (min-width: 480px) {
    #deobillede {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;



    }
    #deobillede_mobil,
    #deo_info {
        display: none;

    }
}

@media only screen and (min-width: 1024px) {
    #deobillede {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;



    }
    #deobillede_mobil,
    #deo_info {
        display: none;
    }
}

/*Eksperimental Paralax tekst boks*/

/*
h2 {
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    width: 100%
}

h2 span {
    color: #000;
    font-family: Timeless;
    letter-spacing: -1px;
    background-color: rgb(233, 242, 236, 0.7);
    background: rgba(233, 242, 236, 0.7);
    padding: ;
}

h2 span.plads {
    padding:0 5px;
    
}
*/
