.Color {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 593px;
  height: 780px;
  z-index: 9;
}
.Lys_Rød {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(221, 5, 44);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 4px;
  top: 581.35px;
  z-index: 8;
}
.Blod_Rød {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(145, 0, 7);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 4px;
  top: 460.5px;
  z-index: 7;
}
.Hav_Blå {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(73, 74, 149);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 4px;
  top: 340px;
  z-index: 6;
}
.Blå_Hvid {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(233, 242, 236);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 4px;
  top: 218px;
  z-index: 5;
}
.Skov_Grøn {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(0, 153, 60);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 9px;
  top: 97.5px;
  z-index: 4;
}
.Mint_Grøn {
  font-size: 100px;
  font-family: "Ubuntu";
  color: rgb(70, 154, 125);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 4px;
  top: -21px;
  z-index: 3;
}
.Layer_0 {
  background-image: url("Layer 0.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 593px;
  height: 780px;
  z-index: 2;
}
