.Moodboard {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2480px;
  height: 3508px;
  z-index: 18;
}
.grøn_balance1 {
  background-image: url("grøn-balance1.png");
  position: absolute;
  left: 156px;
  top: 2308px;
  width: 543px;
  height: 978px;
  z-index: 16;
}
.Balance {
  font-size: 208.333px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 316px;
  top: 534px;
  z-index: 13;
}
.Timeless_Regular {
  font-size: 46px;
  font-family: "Timeless";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 532.406px;
  top: 822.205px;
  z-index: 11;
}
.Quizdeltagerne_spiste_jordbær_med_fløde_ {
  font-size: 66.667px;
  font-family: "Timeless";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 107.125px;
  top: 1027.809px;
  z-index: 10;
}
.The_quick_brown_fox_jumps_over_the_lazy_dog_ {
  font-size: 66.667px;
  font-family: "Ubuntu";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 104px;
  top: 957.9px;
  z-index: 9;
}
.Ubuntu_Medium {
  font-size: 41.667px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 537px;
  top: 770.5px;
  z-index: 5;
}
.Layer_2 {
  background-image: url("Layer 2.png");
  position: absolute;
  left: 106px;
  top: 116px;
  width: 2271px;
  height: 800px;
  z-index: 4;
}
.Layer_0 {
  background-image: url("Layer 0.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2480px;
  height: 3508px;
  z-index: 3;
}
